In [1]:
# load the data
import os
import pandas as pd
train_csv = os.path.join("..","dataset","train.csv")
test_csv = os.path.join("..","dataset","test.csv")

# load the csv into dataframe
titanic_train = pd.read_csv(train_csv)
titanic_test = pd.read_csv(test_csv)

In [3]:
titanic_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
# separate out the target variable
y = titanic_train['Survived']
X = titanic_train.copy()
X.drop(['Survived', 'PassengerId'], axis=1, inplace=True)

STEP 1: Analyze the data, type of columns etc

In [8]:
X.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
from sklearn.model_selection import train_test_split
# divide the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [24]:
# get list of categorical cols
s = X_train.dtypes== 'object'
categorical_cols = list(s[s].index)

In [25]:
# get list of numerical cols
s = X_train.dtypes != 'object'
numerical_cols = list(s[s].index)
print(numerical_cols)

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [26]:
print("list of columns: {}".format(X_train.columns))
print("categorical_cols: {}".format(categorical_cols))
print("numerical_cols: {}".format(numerical_cols))

list of columns: Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')
categorical_cols: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
numerical_cols: ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [31]:
# start preprocessing the numerical cols
X_train.describe()
# Age column needs imputation, 144 rows are missing
# best way might be imputing with the mean Age
X_train['Age'] = X_train['Age'].fillna(X_train['Age'].mean())
X_test['Age'] = X_test['Age'].fillna(X_test['Age'].mean())

/Users/pranshulrastogi/conda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/pranshulrastogi/conda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
X_test.describe()

           Pclass         Age       SibSp       Parch        Fare
count  223.000000  223.000000  223.000000  223.000000  223.000000
mean     2.282511   29.271761    0.609865    0.340807   37.216946
std      0.846832   12.666913    1.337367    0.664745   67.512823
min      1.000000    0.830000    0.000000    0.000000    0.000000
25%      1.000000   22.000000    0.000000    0.000000    7.910400
50%      3.000000   29.271761    0.000000    0.000000   15.045800
75%      3.000000   34.000000    1.000000    0.000000   35.562500
max      3.000000   70.500000    8.000000    2.000000  512.329200